.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: slategrey;
  min-height: 1000px;
  height: fit-content;
  display: flex;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow: hidden;
}

.App-link {
  color: #09d3ac;
}
