#contact-form{
  white-space: nowrap;
  width: 100%;
  display: block;
  margin: auto;
}

.email-submit{
  display: inline-block;
  width: calc(50% - 40px);
  transition: .25s;
  border: 5px solid white;
  color: white;
  text-decoration: none;
  padding: 5px;
  background-color: transparent;
  font-family: inherit;
  font-size: 25.264px;
}

.email-submit:hover{
  border: 5px solid black;
  color: black;
  cursor: pointer;
}

.email-submit:focus{
  border: 5px solid black;
  color: black;
  outline: 0;
}

.email-refresh{
  margin: auto;
  display: block;
  width: calc(50% - 40px);
  transition: .25s;
  border: 5px solid white;
  color: white;
  text-decoration: none;
  padding: 5px;
  background-color: transparent;
  font-family: inherit;
  font-size: 25.264px;
}

.email-refresh:hover{
  border: 5px solid black;
  color: black;
}

.email-refresh:focus{
  border: 5px solid black;
  color: black;
  outline: 0;
}

#contact-name-div{
  display: inline-block;
}

#contact-email-div{
  display: inline-block;
}

.contact-input{
  border: 5px solid lightgray;
  padding: 5px;
  margin: 10px;
  margin-top: 5px;
  font-size: 20px;
  font-weight: 600;
  font-family: inherit;
  max-width: calc(100% - 40px);
  transition: .25s;
}

.invalid-email-input:focus{
  border: 5px solid #ff7c7c;
}

.valid-email-input:focus{
  border: 5px solid #80c680;
}

.contact-input:focus{
  outline: 0;
}

.contact-input-label{
  display: block;
  text-align: left;
  margin: 10px;
  margin-bottom: 5px;
  font-size: 20px;
  white-space: normal;
}

.name-email-div{
  width: calc(50%);
}

.name-email-input{
  width: calc(100% - 40px);
}

#contact-message-div{
  width: calc(100%);
}

.message-input{
  width: calc(100%);
}

.message-input-label{
  margin: auto;
  margin-top: 10px;
  margin-bottom: 5px;
  width: calc(100% - 20px);
}

.test-textarea{
  background-color: orange;
}

.sending-overlay-buffer{
  height: 30px;
}

.email-overlay{
  width: 900px;
  max-width: 80vw;
  margin: auto;
  z-index: 0;
}
