#main-display-container{
  width: 500px;
  color: cornsilk;
}

.main-display{
  margin-top: 315px;
  width: 100%;
  min-height: 520px;
  height: fit-content;
  position: relative;
}

.main-display-content{
  margin-top: 75px;
}

#navbar-div{
  position: fixed;
  white-space: nowrap;
  font-size: 25px;
  z-index: 2;
}

.navbar-link{
  color: white;
  font-size: 20px;
  background-color: transparent;
  margin: 10px;
  padding: 5px 10px;
  transition: .05s;
  text-decoration: none;
  width: 40px;
}

.navbar-link-current-page{
  border-bottom: 2px solid lightgrey;
}

.navbar-link:hover{
  border-bottom: 2px solid lightgrey;
}

.main-display-scrolling-buffer{
  height: 100px;
}
