#main-display-container{
  width: 500px;
}

.main-display{
  margin-top: 315px;
  width: 100%;
  min-height: 520px;
  height: fit-content;
  position: relative;
}

.main-display-content{
  margin-top: 75px;
}

#navbar-div{
  position: absolute;
  width: calc(100% - 500px);
  white-space: nowrap;
  font-size: 25px;
  z-index: 2;
}

.navbar-link{
  color: white;
  background-color: #191c21;
  margin: 10px;
  padding: 10px;
  transition: .25s;
  text-decoration: none;
  display: inline-block;
  width: calc((100% - 110px)/3);
  min-width: 100px;
}

.navbar-link-current-page{
  background-color: black;
}

.navbar-link:hover{
  background-color:  #4040d0;
}

.main-display-scrolling-buffer{
  height: 100px;
}
