#projects-title{
    text-align: left;
}

#projects-wrapper{
  width: 1200px;
  max-width: 90vw;
  margin: auto;
  text-align: center;
  align-items: center;
  align-content: center;
}

.project-display{
  white-space: nowrap;
  width: 900px;
  max-width: 100%;
  margin: auto;
}

.project-title{
  margin-top: 0;
  text-align: left;
  width: 800px;
  max-width: calc(100% - 40px);
  margin: auto;
  margin-bottom: 30px;
}

.project-info{
  display: inline-block;
  vertical-align: bottom;
  max-width: 80vw;
}

.project-description{
  width: 800px;
  max-width: calc(100% - 40px);
  margin: auto;
  margin-top: 20px;
  white-space: normal;
  text-align: left;
  font-size: calc(10px + 2vmin);
}

.project-preview{
  display: block;
  margin: auto;
  width: 800px;
  max-width: calc(100% - 40px);
  -moz-box-shadow:    0px 0px 18px -4px black;
  -webkit-box-shadow: 0px 0px 18px -4px black;
  box-shadow:         0px 0px 18px -4px black;
}

.project-links{
  white-space: nowrap;
  width: 800px;
  max-width: calc(100% - 40px);
  margin: auto;
  margin-top: 20px;
}
.project-link{
  display: inline-block;
  width: 200px;
  max-width: calc(50% - 40px);
  transition: .25s;
  border: 5px solid white;
  color: white;
  text-decoration: none;
  padding: 5px;
}

.project-link:hover{
  border: 5px solid black;
  color: black;
}

.project-link-buffer{
  width: 40px;
  display: inline-block;
}

.project-break{
  width: 80%;
  margin-top: 90px;
  margin-bottom: 60px;
  border: .5px solid white;
}
