.react-pdf__Page__canvas{
  -moz-box-shadow:    0px 0px 18px -4px black;
  -webkit-box-shadow: 0px 0px 18px -4px black;
  box-shadow:         0px 0px 18px -4px black;
  margin: auto;
}

#resume-placeholder{
  height: 10px;
}
